@import "config.scss";

.coffee {
    height: calc(894px - 114px);
    &__block_blue {
        background-color: #415167;
        height: 100%;
        position: absolute;
        width: 27%;
        z-index: -1;
    }
    &__items {
        display: flex;
        flex-direction: column;
        .coffee__item {
            background-color: white;
            display: flex;
            flex: 0 1 50%;
            &:nth-child(-n + 2) {
                margin-bottom: $marginCoffee;
            }
            &:nth-child(odd) {
                margin-right: $marginCoffee;
            }
        }
    }
    &__column {
        display: flex;
    }
    &__info {
        margin: 40px 44px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__prise {
        font-weight: 600;
        color: $FirstAccent;
        font-size: 1.25em;
    }
    &__name {
        font-size: calc(1.2em + 5 * (100vw / 1280));
        font-weight: 700;
        color: $DarkGray;
    }
    &__img-block {
        background-color: $LightGray;
        width: max-content;
    }
    &__add {
        align-items: center;
        display: flex;
        justify-content: space-around;
        &_radius {
            align-items: center;
            background-color: #c7a17a;
            border-radius: 16px;
            color: #f9f5e8;
            display: flex;
            justify-content: center;
            height: 32px;
            width: 116px;
        }
    }
}

@media (max-width: 992px) {
    .coffee {
        &__info {
            margin: 0 40px;
        }
        &__item {
            width: 50%;
        }
        &__img-block {
            display: flex;
        }
        &__img {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .coffee {
        height: auto;
        .coffee__item {
            flex-direction: column;
            margin-right: 0 !important;
            width: 60%;
        }
        &__img-block {
            width: auto;
        }
        &__name {
            font-size: calc(1.2em + (5 + 5 * 0.7) * ((100vw - 320px) / 1280));
        }
    }
}
