@import "config.scss";

.coffee {
    .container{
        padding: 30px;
    }
    &__titles{
        padding-bottom: 3em;
    }
    &__block_blue {
        background-color: #415167;
        height: 100%;
        position: absolute;
        width: 27%;
        z-index: -1;
    }
    &__items {
        gap: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .coffee__item {
            background-color: white;
            display: flex;
        }
    }
    &__column {
        display: flex;
    }
    &__info {
        padding: 40px 44px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__prise {
        font-weight: 600;
        color: $FirstAccent;
        font-size: 1.25em;
    }
    &__name {
        font-size: calc(1.2em + 5 * (100vw / 1280));
        font-weight: 700;
        color: $DarkGray;
    }
    &__img-block {
        background-color: $LightGray;
    }
    &__add {
        align-items: center;
        display: flex;
        justify-content: space-around;
        &_radius {
            align-items: center;
            background-color: #c7a17a;
            border-radius: 16px;
            color: #f9f5e8;
            display: flex;
            justify-content: center;
            height: 32px;
            width: 116px;
        }
    }
}

@media (max-width: 1138px) {
    .coffee {
        &__info {
            padding: 20px 20px;
        }
    }
}

@media (max-width: 992px) {
    .coffee {
        &__info {
            padding: 0 40px;
            align-items: center;
        }
        &__img-block {
            display: flex;
            justify-content: center;
        }
        &__img {
            object-fit: cover;
        }
        &__item{
            flex-direction: column;
        }
    }
}

@media (max-width: 767px) {
    .coffee {
        &__items{
            grid-template-columns: 1fr;
        }
    }
}
