$DarkBlue: #415167;
$DarkGray: #151d28;
$FirstAccent: #c7a17a;
$LightGray: #edf0f5;
$SecondAccent: #f9f5e8;
$marginCoffee: 16px;

.coffee__wrapper{
    height: 862px;
}

.coffee {
    &__block_blue {
        background-color: #415167;
        height: 862px;
        position: absolute;
        width: 368px;
        z-index: -1;
    }
    &__items {
        display: flex;
        margin: 0 100px;
        flex-wrap: wrap;
        .coffee__item {
            background-color: white;
            display: flex;
            width: 560px;
            height: 256px;
            &:nth-child(-n + 2) {
                margin-bottom: $marginCoffee;
            }
            &:nth-child(odd) {
                margin-right: $marginCoffee;
            }
        }
    }
    &__info {
        margin: 40px 44px;
    }
    &__prise {
        font-weight: 600;
        color: $FirstAccent;
        font-size: 20px;
    }
    &__name {
        font-size: 24px;
        font-weight: 700;
        color: $DarkGray;
    }
    &__img-block {
        background-color: $LightGray;
    }
    &__add {
        align-items: center;
        display: flex;
        justify-content: space-around;
        &_radius {
            background-color: $FirstAccent;
            border-radius: 9px;
            color: $SecondAccent;
            height: 18px;
            text-align: center;
            width: 100px;
        }
    }
}
