@import "config.scss";

.combo{
    height: calc(906px - 114px);
    &__block_blue {
        background-color: #415167;
        height: 100%;
        position: absolute;
        width: 22%;
        left: calc(100% - 22%);
        z-index: -1;
    }
    &__items {
        display: flex;
        .combo__item {
            background-color: white;
            width: 33.3%;
            &:nth-child(-n + 2) {
                margin: 0 $marginCoffee 0 0;
            }
        }
    }
    &__img{
        width: 100%;
    }
    &__info {
        margin: 40px 44px;
    }
    &__prises{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__prise {
        font-weight: 600;
        color: $FirstAccent;
        font-size: 20px;
    }
    &__name {
        font-size: 24px;
        font-weight: 700;
        color: $DarkGray;
    }
    &__img-block_light-blue {
        background-color: $LightGray;
    }
    &__add {
        align-items: center;
        display: flex;
        justify-content: space-around;
        &_radius {
            background-color: $FirstAccent;
            border-radius: 9px;
            color: $SecondAccent;
            height: 18px;
            text-align: center;
            width: 100px;
        }
    }
}