@import "config.scss";

.features {
    height: calc(600px - 114px);
    &__column{
        display: flex;
    }
    &__items {
        display: flex;
    }
    &__item {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
        width: 22%;
    }
}
