$DarkBlue: #415167;
$DarkGray: #151d28;
$FirstAccent: #c7a17a;
$LightGray: #edf0f5;
$SecondAccent: #f9f5e8;

.giftset__wrapper {
    height: 770px;
}

.giftset {
    &__block_light-blue {
        background-color: $LightGray;
        height: 770px;
        position: absolute;
        width: 1035px;
        z-index: -1;
    }
    &__content {
        display: flex;
        align-items: center;
    }
    &__img_gift {
        transform: translate(108px, -15px);
    }
    &__description-wrapper {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 455px;
        justify-content: center;
        padding: 0px 226px;
        transform: translate(-92px, -33px);
        z-index: -1;
    }
    &__prise {
        font-weight: 600;
        color: $FirstAccent;
        font-size: 20px;
    }
    &__name {
        font-size: 24px;
        font-weight: 700;
        color: $DarkGray;
    }
    &__info-more {
        display: flex;
    }
    &__grade {
        display: flex;
        margin-right: 70px;
    }
    &__place {
        display: flex;
    }
    &__add {
        align-items: center;
        display: flex;
        justify-content: space-around;
        &_radius {
            background-color: #c7a17a;
            border-radius: 18px;
            color: #f9f5e8;
            height: 17px;
            padding: 10px 0;
            text-align: center;
            width: 146px;
        }
    }
}
