@import "config.scss";

body {
    color: $DarkBlue;
    background-color: #f9fbff;
}

.wrapper {
    position: relative;
}

.container {
    max-width: 1138px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .title {
        font-size: 1.2em;
    }
    .title_bold {
        font-size: 29px;
    }
}

footer {
    background-color: $LightGray;
    display: flex;
    height: 60px;
    align-items: center;
    small {
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .add {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .block {
        display: none;
    }
    .container {
        max-width: none;
        padding: 0 2%;
    }
    .column {
        flex-direction: column;
        align-items: center;
    }
    .features {
        &__items {
            grid-template-columns: 1fr 1fr;
            gap: 2em;
        }
        &__column {
            justify-content: space-around;
        }
        &__item {
            flex: 1 0 auto;
        }
    }
    .wrapper {
        height: max-content;
    }
    .titles {
        margin: 3% 0;
    }
    .giftset {
        &__content {
            flex-direction: column;
        }
        &__img_gift {
            transform: none;
        }
        &__description-wrapper {
            transform: none;
            padding: 2% 5%;
            margin: 0 5% 5% 5%;
        }
    }
    .combo {
        &__items {
            .combo__item {
                width: 60%;
                &:nth-child(-n + 2) {
                    margin: 0 0 $marginCoffee 0;
                }
            }
        }
    }
    footer {
        height: 40px;
    }
}
