/*Color-Variables*/
/*Size-Variables*/
.header {
  display: flex;
  height: 740px;
  width: inherit;
  margin: 0 auto;
  /*LOGO*/
  /*BACKGROUND*/
  /*NAVIGATOR*/
}
.header__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 0px;
  width: 32%;
}
.header__tagline {
  font-size: calc(2em + 20 * (100vw / 1280));
  transform: translate(204px, 52px);
  color: #415167;
  white-space: pre-line;
}
.header__tagline_bc {
  color: #edf0f5;
  background-color: #c7a17a;
  padding: 0 13px;
  z-index: 0;
}
.header__background {
  background-image: url(../src/header/bacground_img.png);
  background-size: cover;
  height: inherit;
  width: 50%;
  z-index: -1;
}
.header__background_shadow {
  background-color: #151d28;
  height: inherit;
  opacity: 30%;
}
.header__navigator {
  background-color: #415167;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 0;
  width: 18%;
}
.header__cart {
  margin-left: 55px;
}
.header__cart-counter {
  background-color: #c7a17a;
  border-radius: 50%;
  color: #f9f5e8;
  height: 18px;
  text-align: center;
  transform: translate(10px, -35px);
  width: 18px;
}
.header__menu {
  align-self: center;
  display: flex;
  flex-direction: column;
  line-height: 48px;
  transition-property: color;
  margin-bottom: 80px;
}
.header__menu a {
  color: #edf0f5;
}
.header__menu-item:hover {
  font-weight: 700;
}

@media (max-width: 992px) {
  .header__navigator {
    padding: 120px 16px;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .header__logo {
    width: auto;
  }
  .header__tagline {
    font-size: calc(2em + (20 + 20 * 0.7) * ((100vw - 320px) / 1280));
    text-align: center;
    transform: none;
  }
  .header__background {
    display: none;
  }
  .header__navigator {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10% 0;
    width: auto;
  }
  .header__cart {
    margin-left: 0;
  }
  .header__menu {
    margin-bottom: 0;
  }
}
/*Color-Variables*/
/*Size-Variables*/
.features {
  height: calc(600px - 114px);
}
.features__column {
  display: flex;
}
.features__items {
  display: flex;
}
.features__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  width: 22%;
}

/*Color-Variables*/
/*Size-Variables*/
.giftset {
  height: calc(802px - 114px);
}
.giftset__block_light-blue {
  background-color: #edf0f5;
  height: 100%;
  position: absolute;
  width: 78%;
  z-index: -1;
}
.giftset__content {
  display: flex;
  align-items: center;
}
.giftset__img_gift {
  transform: translate(108px, -15px);
  width: 100%;
}
.giftset__description-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0px 72px 0px 226px;
  transform: translate(-92px, -33px);
  z-index: -1;
}
.giftset__prise {
  font-weight: 600;
  color: #c7a17a;
  font-size: 20px;
}
.giftset__name {
  font-size: 24px;
  font-weight: 700;
  color: #151d28;
}
.giftset__info-more {
  display: flex;
}
.giftset__grade {
  display: flex;
  margin-right: 70px;
}
.giftset__place {
  display: flex;
}
.giftset__add {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.giftset__add_radius {
  background-color: #c7a17a;
  border-radius: 18px;
  color: #f9f5e8;
  height: 17px;
  padding: 10px 0;
  text-align: center;
  width: 146px;
}

@media (max-width: 992px) {
  .giftset__img_gift {
    transform: none;
  }
  .giftset__description-wrapper {
    transform: translate(-47%, -33px);
  }
}
/*Color-Variables*/
/*Size-Variables*/
.coffee {
  height: calc(894px - 114px);
}
.coffee__block_blue {
  background-color: #415167;
  height: 100%;
  position: absolute;
  width: 27%;
  z-index: -1;
}
.coffee__items {
  display: flex;
  flex-direction: column;
}
.coffee__items .coffee__item {
  background-color: white;
  display: flex;
  flex: 0 1 50%;
}
.coffee__items .coffee__item:nth-child(-n+2) {
  margin-bottom: 16px;
}
.coffee__items .coffee__item:nth-child(odd) {
  margin-right: 16px;
}
.coffee__column {
  display: flex;
}
.coffee__info {
  margin: 40px 44px;
}
.coffee__prise {
  font-weight: 600;
  color: #c7a17a;
  font-size: 1.25em;
}
.coffee__name {
  font-size: calc(1.2em + 5 * (100vw / 1280));
  font-weight: 700;
  color: #151d28;
}
.coffee__img-block {
  background-color: #edf0f5;
  width: -webkit-max-content;
  width: max-content;
}
.coffee__add {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.coffee__add_radius {
  align-items: center;
  background-color: #c7a17a;
  border-radius: 16px;
  color: #f9f5e8;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 116px;
}

@media (max-width: 992px) {
  .coffee__info {
    margin: 0 40px;
  }
  .coffee__item {
    width: 50%;
  }
  .coffee__img-block {
    width: 50%;
  }
  .coffee__img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .coffee {
    height: auto;
  }
  .coffee .coffee__item {
    flex-direction: column;
    margin-right: 0 !important;
    width: 60%;
  }
  .coffee__img-block {
    width: auto;
  }
  .coffee__name {
    font-size: calc(1.2em + (5 + 5 * 0.7) * ((100vw - 320px) / 1280));
  }
}
/*Color-Variables*/
/*Size-Variables*/
.combo {
  height: calc(906px - 114px);
}
.combo__block_blue {
  background-color: #415167;
  height: 100%;
  position: absolute;
  width: 22%;
  left: calc(100% - 22%);
  z-index: -1;
}
.combo__items {
  display: flex;
}
.combo__items .combo__item {
  background-color: white;
  width: 33.3%;
}
.combo__items .combo__item:nth-child(-n+2) {
  margin: 0 16px 0 0;
}
.combo__img {
  width: 100%;
}
.combo__info {
  margin: 40px 44px;
}
.combo__prises {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.combo__prise {
  font-weight: 600;
  color: #c7a17a;
  font-size: 20px;
}
.combo__name {
  font-size: 24px;
  font-weight: 700;
  color: #151d28;
}
.combo__img-block_light-blue {
  background-color: #edf0f5;
}
.combo__add {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.combo__add_radius {
  background-color: #c7a17a;
  border-radius: 9px;
  color: #f9f5e8;
  height: 18px;
  text-align: center;
  width: 100px;
}

/*Color-Variables*/
/*Size-Variables*/
body {
  color: #415167;
  background-color: #f9fbff;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.titles .title {
  font-size: 1.2em;
}
.titles .title_bold {
  font-size: 29px;
}

footer {
  background-color: #edf0f5;
  display: flex;
  height: 60px;
  align-items: center;
}
footer small {
  margin: 0 auto;
}

@media (max-width: 1138px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .add {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .block {
    display: none;
  }

  .container {
    max-width: none;
    padding: 0 2%;
  }

  .column {
    flex-direction: column;
    align-items: center;
  }

  .features__items {
    flex-wrap: wrap;
  }
  .features__column {
    justify-content: space-around;
  }
  .features__item {
    flex: 1 0 auto;
  }

  .wrapper {
    height: -webkit-max-content;
    height: max-content;
  }

  .titles {
    margin: 3% 0;
  }

  .giftset__content {
    flex-direction: column;
  }
  .giftset__img_gift {
    transform: none;
  }
  .giftset__description-wrapper {
    transform: none;
    padding: 2% 5%;
    margin: 0 5% 5% 5%;
  }

  .combo__items .combo__item {
    width: 60%;
  }
  .combo__items .combo__item:nth-child(-n+2) {
    margin: 0 0 16px 0;
  }

  footer {
    height: 40px;
  }
}